# Gradle
.gradle/
build/
**/bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store

# Spring Boot
application-local.yml
application-secret.yml

# Logs
logs/
*.log

# Environment
.env
.env.local
